.navbar {
  display: inline-flex;
  width: 100%;
  align-items: center;
  padding: 2rem;
  image {
    max-width: 180px;
    max-height: 66px;
  }

  .navLinks {
    width: inherit;
    display: inline-flex;
    justify-content: flex-end;
    a {
      margin: 1rem;
      color: #4a90e2
    }
  }
}


